node_id={{postgresql_replication_node_id}}
node_name='{{postgresql_replication_node_name}}'
conninfo='host={{postgresql_replication_node_name}} user={{postgresql_replication_user_name}} dbname={{postgresql_replication_db_name}} connect_timeout=2'
data_directory='{{postgresql_data_directory}}'
