dn: olcDatabase={{ '{' }}{{item.database}}{{ '}' }}{{openldap_db_engine | lower}}
objectClass: olcDatabaseConfig
objectClass: olcMdbConfig
olcDatabase: {{ '{' }}{{item.database}}{{ '}' }}{{openldap_db_engine | lower}}
olcDbDirectory: /var/lib/ldap/{{item.org}}.{{item.tld}}
olcSuffix: dc={{item.org}},dc={{item.tld}}
structuralObjectClass: olcMdbConfig
